# ---- Build ----
build/
build-*/
cmake-build-*/
*.o
*.obj
Releases_versions

# ---- Qt ----
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

# ---- Translations ----
*.qm

# ---- IDE ----
*.user
*.user.*
*.autosave

# ---- OS ----
.DS_Store
Thumbs.db